<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_itemlist">
                <li class="main-header_item"><a href="/">Home</a></li>
                <li class="main-header_item"><a href="/login">Login</a></li>
                <li class="main-header_item"><a href="/listen">Listen</a></li>
                
            </ul>
        </nav>
      </header>
    <main>
        <h1>This is a login page</h1>
        <form action="/" method="POST">
           <div><label for="username">Username:</label>
            <input type="text" name="username" ></div>
            <div><label for="password">Password:</label>
            <input type="text" name="password" ></div>
           <div> <label for="passwordAgain">Confirm Password:</label>
            <input type="text" name="passwordAgain" ></div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>